<!-- Wrap all page content here -->
<div id="wrap" class="">
    <meta name="description" content="Simple Map" class="">
    <meta name="keywords" content="ng-map,AngularJS,center" class="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" class="">
    <script src="/js/dependencies/sails.io.js"></script>
	<script src="/js/dependencies/jquery-1.10.2.min.js"></script>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places" class=""></script>
    <script src="https://code.angularjs.org/1.3.15/angular.js" class=""></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js" class=""></script>
    <script type="text/javascript">
setTimeout(function sunrise () {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
</script>
<!-- Wrap all page content here -->
<div id="wrap" class="">
    <meta name="description" content="Simple Map" class="">
    <meta name="keywords" content="ng-map,AngularJS,center" class="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" class="">
    <script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places" class=""></script>
    <script src="https://code.angularjs.org/1.3.15/angular.js" class=""></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js" class=""></script>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

                </button> <a class="navbar-brand" href="#">Dashboard ADMIN</a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="button"> <a href="#" class="">Home</a>

                    </li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a href="#" class="">Login / Logout</a>

                            </li>
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center"> <span class="glyphicon glyphicon-user icon-size"></span>

                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left"><strong class="">Nombre Apellido</strong>

                                            </p>
                                            <p class="text-left small">correoElectronico@email.com</p>
                                            <p class="text-left"> <a href="#" class="btn btn-primary btn-block btn-sm">Actualizar Datos</a>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                </ul>
                </li>
            <!--/.nav-collapse -->
            </ul>
        </div>
        <!-- Begin page content -->
        <div class="container">
            <div class="col-md-9">
              <button class="btn btn-success" ng-click="getMapInstance()">Get Map Instance</button>
                <ui-gmap-google-map center="map.center" zoom="map.zoom">                             
   <ui-gmap-markers click="clickMarker" icon="'icon'" models="markers" coords="'coord'">
   </ui-gmap-markers>
</ui-gmap-google-map>
              
            </div>
            <div class="col-md-3">
                <div class="alertes">
                    <div class="panel panel-danger">
                        <div class="panel-heading">alertes</div>
                        <div class="panel-body">blah</div>
                    </div>
                </div>
                <div class="statistiques">
                    <div class="panel panel-primary">
                        <div class="panel-heading">statistiques</div>
                        <div class="panel-body">blah</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="">
            <div class="container">
                <p class="text-muted credit">YNOV</p>
            </div>
        </div>
    </div>
</div>
<div id="push" class=""></div>
</div>